@import '../../theme/variables';

purohit-datatable {
  position: relative;
  display: block;

  .minitor_loading {
    position: absolute;
    top: 50%;
    width: 80px;
    text-align: center;
    background: #ffff;
    border: 1px solid #ddd;
    padding: 2px 10px;
    left: 50%;
    margin-left: -40px;
    margin-top: -13px;
  }

  .table {
    margin-bottom: 0;
  }

  th {
    position: relative;
    padding: 2px 2px 2px 5px !important;
  }

  td {
    padding: 2px 2px 2px 5px !important;
  }

  .width-100 {
    width: 100px;
  }

  .icon-right {
    display: block;
    position: absolute;
    right: 10px;
    height: 20px;
    top: 50%;
    margin-top: -7px;
  }

  .icon.ion-ios-add,
  .icon.ion-ios-remove {
    font-weight: bold;
    font-size: medium;
  }

  @media all and (-ms-high-contrast: none) {
    .icon-right {
      display: block;
      position: absolute;
      right: 10px;
      height: 20px;
      top: 15px;
      margin-top: 0;
    }
  }

  /*    .light-blue-bg{
    background-color:rgb(17, 174, 209);
}*/
  .light-blue-bg th {
    //   min-width: 100px;
    vertical-align: middle;
    padding-right: 20px !important;
  }

  table td {
    //  min-width: 100px;
    //  position: relative;
    color: #000;
    word-break: break-word;
  }

  /*table tr:hover{
    background: rgba(17, 174, 209,.4) !important;
}*/
  .blue-hdr {
    background-color: $primary;
    display: block;
    width: 100%;
    padding: 1px 10px;
    color: $light;
  }

  tbody tr:nth-child(even) {
    background: #f3f3f3;
  }

  multiselect {
    label {
      color: #000 !important;
    }

    .c-label label {
      color: #fff !important;
    }
  }

  .normal-btn {
    word-wrap: break-word;
    display: block;
    background: none;
    border: none;
    text-align: left;
    padding: 0;
    color: #000;
    line-height: inherit !important;
    height: auto !important;
    font-size: 13px !important;
    padding: 0 !important;
  }

  .line-height-30 {
    line-height: 23px;
  }

  button:focus {
    outline: none !important;
  }

  .up-down i {
    position: absolute;
    right: 0;
  }

  .up-down i:nth-of-type(1) {
    top: 3px;
  }

  .up-down i:nth-of-type(2) {
    top: -3px;
  }

  .status-btn {
    border-radius: 3px;
    padding: 3px 5px !important;
    color: #fff !important;
    font-size: 13px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .cursor {
    cursor: pointer;
  }

  [contenteditable='true'] {
    border: 1px solid #e2e2e2;
    background: #fff;
  }

  .inline-active-selection {
    width: 100%;
  }

  .inline-active-selection + div {
    display: none !important;
  }

  .export {
    overflow: hidden;
    height: 23px;
    display: block;
    float: right;
    position: relative;
    top: -3px;
    padding-left: 10px;
  }

  .select-checkbox {
    margin-left: 0;
    position: relative;
  }

  mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
  }

  /*.light-blue-bg th{
        background: #11aed1;
    }*/
  .dropdown-menu button {
    padding: 5px 10px !important;
    font-size: 13px;
  }

  .min-width-5 {
    min-width: 5rem;

    button {
      padding: 1px 10px !important;
    }
  }

  .min-width-5.dropdown-menu {
    padding: 0.1rem 0 !important;
    margin-top: -2px;
  }

  .dropdown-menu {
    border-radius: 0 !important;
  }

  .disabled-row {
    opacity: 0.8;
    pointer-events: none;
  }

  .control-btn.dropdown-toggle::after {
    display: none;
  }

  .page-size {
    font-size: 12px !important;
    line-height: 31px;
    height: 26px !important;
    border-radius: 0 !important;
    padding: 0 10px;
  }

  .pagination {
    margin-bottom: 0px;
  }

  .pagination-sm .page-link {
    font-size: 12px;
  }

  virtual-scroll {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  .edit-text-inline input {
    width: auto !important;
  }

  .maxContentTD {
    width: max-content !important;
    min-width: max-content !important;
    max-width: max-content !important;
  }
  .normal-btn .tabview {
    background: $orange;
    color: $white;
    padding: 2px 5px;
    margin: 1px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
  }
}
