<span *ngIf="this.pagination.data && this.pagination.data.length">
    <ng-container *ngIf="showTopPagination">
        <div class="d-flex justify-content-start float-left pt-3">
            <pagination class="pagination" size="sm" [totalItems]="pagination.totalRecords"
                [(ngModel)]="pagination.page" [maxSize]="10" [rotate]="true" [itemsPerPage]="pagination.maxResults"
                [boundaryLinks]="true" (pageChanged)="pageChanged()"></pagination>
        </div>
        <div class="d-flex justify-content-end float-right width-100  pt-3">
            <span class="pt-1"> Records Per Page </span>
<select class="form-control justify-content-end size-13 page-size" [(ngModel)]="pagination.maxResults" (change)="changeMaxSize()" style="width: 60px !important;">
                <option *ngFor="let option of [5,10,25,50,100]" [value]="option">{{option}}</option>
            </select>

</div>
<div class="clearfix"></div>
</ng-container>
<div class="blue-hdr commentHistory" *ngIf="!hidetitle">
    <div class="row">
        <div class="col">
            <span class="line-height-30">{{title ? title :'Search Results'}}</span>
        </div>
        <div class="col text-center" *ngIf="!hidetotalRecords">
            <span class="line-height-30">{{pagination.totalRecords}} Record(s) found.</span>
            <i></i>
        </div>
        <div class="col" *ngIf="headers">

            <div class="float-right pl-2">
                <purohit-sortable-list class="sortable-datatable-list" *ngIf="preferences" [limitSelection]="limitSelection" [data]="preferencesDropdown" matcher="label" (change)="sortChange($event)"></purohit-sortable-list>
            </div>
            <span *ngIf="export && !hideExport && !isReport" class="export">
                    <div class="text-right relative top-3">

                        <a class="relative inline-blk cursor" href="{{API_ENDPOINT}}{{export.excelTemplate}}"
                            *ngIf="!hideExcel && showExcelTemplate" target="_blank" [title]="export.excelTemplateTitle">
                            <purohit-icon name="cloud-download"></purohit-icon> Excel
                        </a>&nbsp;
                        <a class="relative inline-blk cursor" href="{{API_ENDPOINT}}{{export.pdf}}" *ngIf="!hidePdf"
                            target="_blank" title="PDF">
                            <purohit-icon name="'cloud-download'"></purohit-icon> Pdf
                        </a>&nbsp;
                        <a class="relative inline-blk cursor" href="{{API_ENDPOINT}}{{export.excel}}" *ngIf="!hideExcel"
                            target="_blank" title="Excel">
                            <purohit-icon name="cloud-download"></purohit-icon> Excel
                        </a>&nbsp;

                    </div>
                </span>
            <span *ngIf="!export && !hideExport && !isReport" class="export">
                    <div class="text-right relative top-3">
                        <a class="relative inline-blk cursor"
                            href="{{API_ENDPOINT}}ExportUtilAction.do?command=exportToPdf" target="_blank"
                            *ngIf="!hidePdf">
                            <purohit-icon name="cloud-download"></purohit-icon> Pdf
                        </a>&nbsp;
                        <a class="relative inline-blk cursor"
                            href="{{API_ENDPOINT}}ExportUtilAction.do?command=exportToCsv" target="_blank"
                            *ngIf="!hideExcel">
                            <purohit-icon name="cloud-download"></purohit-icon> Excel
                        </a>&nbsp;

                    </div>
                </span>
            <span *ngIf="isReport" class="export">
                    <div class="text-right relative top-3">
                        <span class="relative inline-blk cursor" *ngIf="!hidePdf" (click)="generatePDF('download')">
                            <!-- <img src="./assets/images/pdf.png" alt="PDF" width="15" /> -->
                            <purohit-icon name='cloud-download'></purohit-icon> Pdf
                        </span>&nbsp;
            <span class="relative inline-blk cursor" *ngIf="!hideExcel" (click)="exportAsXLSX()">
                            <purohit-icon name="cloud-download"></purohit-icon> Excel
                        </span>&nbsp;

        </div>
        </span>
    </div>
</div>
</div>
<div class="table-responsive">
    <table class="table table-bordered ">
        <thead class="light-blue-bg">
            <tr>
                <th *ngIf="selectable && !selectable.index" style="min-width:20px;width:20px;vertical-align:middle;text-align:center;padding-right:5px !important;">

                    <input type="checkbox" class="form-check-input select-checkbox" [(ngModel)]="selectAll" (change)="checkAll()" *ngIf="selectable.selectAll && selectable.type !='radio'">
                </th>

                <ng-container *ngFor="let header of headers;let i=index">

                    <th *ngIf="selectable && selectable.index == (i+1)" style="min-width:20px;width:20px;vertical-align:middle;text-align:center;padding-right:5px !important;">
                        <input type="checkbox" class="form-check-input select-checkbox" [(ngModel)]="selectAll" (change)="checkAll()" *ngIf="selectable.selectAll && selectable.type !='radio'">
                    </th>
                    <th *ngIf="multiSelectText && selectable.multiSelectIndex == (i+1)" [ngStyle]="{'width':multiSelectWidth+'px','min-width':multiSelectWidth+'px','max-width':multiSelectWidth+'px'}" style="vertical-align:middle;padding-right: 0px !important;">
                        <span [innerHTML]="multiSelectText"></span>
                    </th>
                    <th scope="col position-relative" *ngIf="header.checked" (click)="header.sortable && sortColumnData(header)" [ngStyle]="{'width':header.width+'px'}" [style.width]="header.width ? header.width+'px' : '100px'" [style.minWidth]="header.width ? header.width+'px' : '100px'"
                        [style.maxWidth]="header.width ? header.width+'px' : '100px'">
                        <span [innerHTML]="header.label"></span>
                        <span class="icon-right" *ngIf="header.sortable && sortByColumn == header.key">
                                <i class="icon ion-ios-arrow-down text-right" *ngIf="!header.dir"></i>
                                <i class="icon ion-ios-arrow-up text-right" *ngIf="header.dir"></i>
                            </span>
                        <span class="icon-right up-down" *ngIf="header.sortable && sortByColumn != header.key">
                                <i class="icon ion-ios-arrow-down text-right"></i>
                                <i class="icon ion-ios-arrow-up text-right"></i>
                            </span>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <!--[sortablejs]="pagination.data" [sortablejsOptions]="options"-->
        <tbody #container [sortablejs]="pagination.data" [sortablejsOptions]="options" [hidden]="monitorLoader">
            <tr *ngFor="let item of pagination.data;let i = index" [ngStyle]="item.style" (click)="setClickedRow(i);makeNormal($event,item)" [class.active]="i == selectedRowEle">
                <td style="min-width:20px;width:20px;vertical-align:middle;padding-right:5px !important;text-align:center;" *ngIf="selectable && !selectable.index">

                    <input type="radio" [checked]="item.select" name="{{randomNumber}}checkone" class="form-check-input select-checkbox" (change)="checkOne(item)" [disabled]="item.disabled" *ngIf="!item.hideCheckbox && selectable.type =='radio'">

                    <input type="checkbox" class="form-check-input select-checkbox" [(ngModel)]="item.select" (ngModelChange)="checkOne(item)" [disabled]="item.disabled" *ngIf="!item.hideCheckbox && selectable.type !='radio'">

                </td>



                <ng-container *ngFor="let header of headers;let j = index">

                    <td style="min-width:20px;width:20px;text-align:center;vertical-align:middle;padding-right:5px !important;" *ngIf="selectable && selectable.index == (j+1)">
                        <input type="radio" [checked]="item.select" name="{{randomNumber}}checkone" class="form-check-input select-checkbox" (change)="checkOne(item)" [disabled]="item.disabled" *ngIf="!item.hideCheckbox && selectable.type =='radio'">
                        <input type="checkbox" class="form-check-input select-checkbox" [(ngModel)]="item.select" (ngModelChange)="checkOne(item)" [disabled]="item.disabled" *ngIf="!item.hideCheckbox && selectable.type !='radio'">
                    </td>
                    <td *ngIf="multiSelectText && selectable.multiSelectIndex == (j+1)" [ngStyle]="{'width':multiSelectWidth+'px','min-width':multiSelectWidth+'px','max-width':multiSelectWidth+'px'}" style="vertical-align:top;padding-right: 0px !important;">
                        <!-- <multiselect class="full" [data]="selectList" [(ngModel)]="item.selectListData" (ngModelChange)="changeMulti(item)" matcher="labelName"
                            primaryKey="labelValue"></multiselect> -->
                        <!-- {{item.selectListData | json}} -->
                        <!-- <multi-set alignment="vertical" type="checkbox" [data]="selectList" [(ngModel)]="item.selectListData" (selected)="selected($event)" (ngModelChange)="changeMulti($event)" matcher="labelName"
                            propertyId="labelValue" [splitTubes]="true"></multi-set> -->
                        <select class="form-control w-90" style="max-height:75px;height:75px;" multiple [(ngModel)]="item.selectListData" (ngModelChange)="changeMulti($event)">
                                <option *ngFor="let item of selectList" [value]="item.labelValue">{{item.labelName}}
                                </option>
                            </select>
                    </td>
                    <td style="vertical-align:middle" *ngIf="header.static && header.checked && !header.customTemplate" [title]="item.columnTitle[header.key] ? item.columnTitle[header.key] : ''" [ngStyle]="item.columnStyle[header.key]" [style.width]="header.width ? header.width+'px' : '100px'"
                        [style.minWidth]="header.width ? header.width+'px' : '100px'" [style.maxWidth]="header.width ? header.width+'px' : '100px'" class="link-type {{item.columnCssClass[header.key]}}" [ngClass]="{'text-center':(header.controls && item[header.key])}">
                        <a href="javascript:void(0)" *ngIf="!header.link && !header.controls" [innerHTML]="item[header.key]" (click)="staticClick(item);getNode(item,$event,header.key)"></a>
                        <a *ngIf="header.link && !header.controls" [routerLink]="['/'+header.linkUrlFormat,item[header.linkParam] ? item[header.linkParam] : {} ]" [innerHTML]="item[header.key]"></a>
                        <div *ngIf="header.controls && item[header.key]" class="btn-group" dropdown placement="bottom right">
                            <div class="control-btn" style="cursor: pointer;" dropdownToggle [innerHTML]="item[header.key]"></div>
                            <div class="dropdown-menu min-width-5 dropdown-menu-right" *dropdownMenu>
                                <ng-container *ngIf="!header.customOptionTemplate">
                                    <ng-container *ngFor="let name of item.staticControls">
                                        <button class="dropdown-item" (click)="onControl($event,name,item)" *ngIf="item.showAll || name.show">{{name.label}}</button>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="header.customOptionTemplate">
                                    <ng-container *ngTemplateOutlet="header.customOptionTemplate;context:{staticControls:item.staticControls,item:item}">
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </td>
                    <td [style.width]="header.width ? header.width+'px' : '100px'" [style.minWidth]="header.width ? header.width+'px' : '100px'" [style.maxWidth]="header.width ? header.width+'px' : '100px'" *ngIf="header.checked && !header.static && (!header.customTemplate || header.customTemplate && header.editable)"
                        [title]="item.columnTitle[header.key] ? item.columnTitle[header.key] : ''" [ngStyle]="item.columnStyle[header.key]" [style.width]="header.width ? header.width+'px' : '100px'" [style.minWidth]="header.width ? header.width+'px' : '100px'"
                        [style.maxWidth]="header.width ? header.width+'px' : '100px'" class="inline-fields" (dblclick)="item.inlineEdit[header.key] && item.inlineEdit[header.key].editable && item.contentEditable = true;item.headerName = header.key;editableRowNum=item.rnum;autoFocusSelect($event)"
                        [ngClass]="{'edit-text-inline':item.inlineEdit[header.key] && item.inlineEdit[header.key].inlineText}">
                        <ng-template #tipContent>
                            <span class="text-left" [innerHTML]="item[header.key]"></span>
                        </ng-template>
                        <select #selectedElement class="inline-active-selection" [(ngModel)]="item[header.key]" *ngIf="item.inlineEdit[header.key] && item.inlineSelectOptions[header.key] && item.inlineEdit[header.key].editable && (item.contentEditable || item.inlineEdit[header.key].defaultInline) && item.inlineEdit[header.key].editableType == 'select' && (item.headerName == header.key  || item.inlineEdit[header.key].defaultInline)"
                            (change)="onSelectChange($event,item,item.inlineSelectOptions[header.key],header.key,i,j,item.inlineEdit[header.key].editableType)" (blur)="onContentBlur(item,header.key)" [disabled]="item.disabledColumn[header.key]">
                                <option *ngFor="let item1 of item.inlineSelectOptions[header.key]" [value]="item1.name">
                                    {{item1.name}}</option>
                            </select>
                        <input #selectedElement type="text" class="inline-active-selection" [(ngModel)]="item[header.key]" *ngIf="item.inlineEdit[header.key] && item.inlineEdit[header.key].editable && (item.contentEditable  || item.inlineEdit[header.key].defaultInline) && item.inlineEdit[header.key].editableType == 'input' && (item.headerName == header.key || item.inlineEdit[header.key].defaultInline)"
                            (blur)="onInputBlur($event,item,header.editableSchema,header.key,i,j,item.inlineEdit[header.key].editableType)" [disabled]="item.disabledColumn[header.key]" />
                        <input #selectedElement type="number" class="inline-active-selection" [(ngModel)]="item[header.key]" *ngIf="item.inlineEdit[header.key] && item.inlineEdit[header.key].editable && (item.contentEditable  || item.inlineEdit[header.key].defaultInline) && item.inlineEdit[header.key].editableType == 'number' && (item.headerName == header.key || item.inlineEdit[header.key].defaultInline)"
                            (blur)="onInputBlur($event,item,header.editableSchema,header.key,i,j,header.editableType)" [disabled]="item.disabledColumn[header.key]" />
                        <input #selectedElement type="checkbox" class="inline-active-selection relative top-2" *ngIf="item.inlineEdit[header.key] && item.inlineEdit[header.key].editable && (item.contentEditable  || item.inlineEdit[header.key].defaultInline) && item.inlineEdit[header.key].editableType == 'checkbox' && (item.headerName == header.key || item.inlineEdit[header.key].defaultInline)"
                            [checked]="header.schema && (header.schema[0] == item[header.key])" (change)="setPropertyValues($event,item,header.key,item[header.key],header.schema,header.editableType,i)" (blur)="onContentBlur(item,header.key)" [disabled]="item.disabledColumn[header.key]"
                        />
                        <!-- <datepicker class="inline-active-selection full" [(ngModel)]="item[header.key]" *ngIf="item.inlineEdit[header.key] && item.inlineEdit[header.key].editable && (item.contentEditable || item.inlineEdit[header.key].defaultInline) && item.inlineEdit[header.key].editableType == 'date' && (item.headerName == header.key || item.inlineEdit[header.key].defaultInline)"
                            (select)="onInputBlur($event,item,header.editableSchema,header.key,i,j,header.editableType)" [format]="header.format" (blur)="onContentBlur(item,header.key)" [disabled]="item.disabledColumn[header.key]"></datepicker> -->

                        <span #selectedElement class="inline-active-selection" *ngIf="item.inlineEdit[header.key] && item.inlineEdit[header.key].editable && (item.contentEditable || item.inlineEdit[header.key].defaultInline) && item.inlineEdit[header.key].editableType == 'custom' && ((item.headerName == header.key && editableRowNum == item.rnum) || item.inlineEdit[header.key].defaultInline)">

                                <ng-container
                                    *ngTemplateOutlet="header.customTemplate;context:item.customTemplateJson[header.key]">
                                </ng-container>
                            </span> {{item.inlineEdit[header.key] && item.inlineEdit[header.key].inlineText}}
                        <div class="normal-btn" [placement]="(checkedHeaders().length/2) > j+1 ? 'right' : 'left'" [tooltip]="header.tooltip && item[header.key] && item[header.key].length > (header.tooltipMaxLen == null ? 15 : header.tooltipMaxLen) ? tipContent: null" container="body"
                            triggers="manual" (mouseenter)="openTooltip(el)" [ngClass]="{'status-btn d-inline':header.type}" class="{{item.columnCssClass[header.key]}}" [ngStyle]="{'background-color':getColor(header.type, item[header.key],header.schema)}"
                            #el *ngIf="header.type != 'image' && !header.popover">

                            <span *ngIf="header.html && !header.link && !isArray(item[header.key])" [ngStyle]="item.columnStyle[header.key]" [innerHTML]="(header.tooltip && item[header.key] && item[header.key].length>(header.tooltipMaxLen == null ? 20 : header.tooltipMaxLen+5))? (getSanitizeText(item[header.key]) | slice:0:(header.tooltipMaxLen == null ? 15 : header.tooltipMaxLen))+' ...':(getSanitizeText(item[header.key]))"></span>

                            <ng-container *ngIf="header.html && !header.link && isArray(item[header.key])">
                                <span class='tabview ' [ngStyle]="item.columnStyle[header.key]" *ngFor="let list of item[header.key]">{{list[header.menuKey]}} <purohit-icon *ngIf="header.icon" [name]="header.icon"></purohit-icon></span>
                            </ng-container>
                            <span *ngIf="!header.html && !header.link" [ngStyle]="item.columnStyle[header.key]" [innerHTML]="item[header.key] | sanitizeHtml"></span>
                            <a *ngIf="header.link && !header.html && header.linkType != 'object'" [routerLink]="['/'+header.linkUrlFormat,item[header.linkParam] ? item[header.linkParam] : {}]">{{item[header.key]}}</a>
                            <a *ngIf="header.link && !header.html && header.linkType == 'object'" [routerLink]="['/'+header.linkUrlFormat,getParams(item,header)]">{{item[header.key]}}</a>
                        </div>
                        
                        <div *ngIf="header.type == 'image' && !header.popover">
                                 
                            <img [src]="item[header.key]" style="{{header.style}}" class="img-fluid" />
                        </div>
                        <div *ngIf="header.popover" class="{{item.columnCssClass[header.key]}}">
                            <ng-container *ngIf="!header.link">
                                <ng-container *ngFor="let link of getArray(item[header.key]);let linInd = index">
                                    <a href="javascript:void(0)" [popover]="popContent" [innerHTML]="link" (mouseover)="loadPopover($event,item,header.key)" container="body" triggers="mouseenter:mouseleave" [placement]="popoverPlacement"></a>
                                    <span *ngIf="linInd < getArray(item[header.key]).length - 1">,</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="header.link">
                                <a [routerLink]="['/'+header.linkUrlFormat,item[header.linkParam]]" *ngFor="let link of getArray(item[header.key])" [popover]="popContent" [innerHTML]="link" (mouseover)="loadPopover($event,item,header.key)" container="body" triggers="mouseenter:mouseleave"
                                    [placement]="popoverPlacement"></a>
                            </ng-container>
                        </div>

                    </td>
                    <td [style.width]="header.width ? header.width+'px' : '100px'" [style.minWidth]="header.width ? header.width+'px' : '100px'" [style.maxWidth]="header.width ? header.width+'px' : '100px'" *ngIf="header.customTemplate && !header.editable">
                        <ng-container *ngTemplateOutlet="header.customTemplate;context:item.customTemplateJson[header.key]">
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <div class="minitor_loading1 p-1 " *ngIf="monitorLoader">
        Loading...
    </div>
</div>
<ng-container *ngIf="!hideBottomPagination">
    <div class="d-flex justify-content-start float-left mt-3">
        <pagination class="pagination" size="sm" [totalItems]="pagination.totalRecords" [(ngModel)]="pagination.page" [maxSize]="10" [rotate]="true" [itemsPerPage]="pagination.maxResults" [boundaryLinks]="true" (pageChanged)="pageChanged($event)"></pagination>

    </div>
    <div class="d-flex justify-content-end float-right width-25 mt-3">
        <span class="pt-1"> Records Per Page </span>
        <select class="form-control justify-content-end size-13 page-size ml-1 p-0" [(ngModel)]="pagination.maxResults" (change)="changeMaxSize()" style="width: 60px !important;">
                <option *ngFor="let option of [5,10,25,50,100]" [value]="option">{{option}}</option>
            </select>

    </div>
    <div class="clearfix"></div>
</ng-container>
</span>
<span *ngIf="this.pagination.data && !this.pagination.data.length" [hidden]="monitorLoader">
    <div class="blue-hdr commentHistory">
        <div class="row">
            <div class="col text-center">
                <span class="line-height-30">{{ noRecordMsg }}</span>
</div>

</div>
</div>
<br />
<div class="clearfix"></div>
</span>
<ng-template #popContent>
    <ng-container *ngTemplateOutlet="popoverContent"></ng-container>
</ng-template>