<div class="breadcrumb">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
          <i nz-icon nzType="home"></i>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>
            <i nz-icon nzType="gift"></i>
            <span> Dashboard</span>
          </a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
</div>


<p>welcome to app 1 </p>
<app-table
        
        [headerButtons]="accStatementHeaderButtons"
        [headers]="accountStatementHeaders"
        [tableData]="accountStatements"
        [defaultColumn]="'customer_name'"
        [dir]="'asc'"
        [page]="accStatementPage"
        (actions)="accStatementActions($event)"
        (headerActions)="accStatementHeaderActions($event)"
></app-table>
