.form-min-width{
    width: 500px;
}

.view-icon{

    height: 200px;
    width: 400px;
}

.additinalimgs{
    
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 5px;
}
.fullwidth-ngo{
    width: 1150px;
}

.fullwidth-orders{
    width: 900px;
}

.border_groove{
    border-style: groove;
}

.border_solid{
    border-style: solid;
}

// .border_dotted{
//     border-style: dotted;
// }
