


<!-- tree add form -->

<div class="form-min-width" *ngIf="category === 'tree-view' ">
    
    <div #TreeView *ngIf="value">
        <h3> {{value.treeName}}  </h3> 

        <img [src]="value.icon" class="view-icon" alt="">

        
        <h3> Primary tag : <strong> {{value.primaryTag}} </strong></h3>
        <span *ngIf="value.isLive === 'yes' "> Status : Active ✅ </span> <span *ngIf="value.isLive === 'no' "> Status : Inactive 🚫 </span>
        <br>

        <nz-divider nzOrientation="left" nzText="Secondary tags"></nz-divider>
        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let tag of value.secondaryTag">
              <div class="inner-box">
                  {{tag}}
               </div></div>
          
          </div>
        
        <nz-divider nzOrientation="left" nzText="NGO names"></nz-divider>
        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let ngo of value.ngoName">
              <div class="inner-box">
                  {{ngo}}
               </div></div>
          
          </div>

        <nz-divider nzOrientation="left" nzText="Locations for the Tree"></nz-divider>
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let location of value.locationNames">
            <div class="inner-box">
                {{location.locationName}}
             </div></div>
        
        </div>

        <br>
        <nz-divider nzOrientation="left" nzText="Tree images"></nz-divider>

        <ng-container *ngFor="let item of value.images; let i = index" class="smallpadding">
            <img
              [src]="item"
              alt=""  class="additinalimgs"
              style="width: 100px; height: 100px; margin: 10px"
            />
       
          </ng-container>

        <p> Tree Introduction : </p>

        <div [innerHTML]="value.treeIntroduction"></div>


    </div>

</div>

    <!-- tree view -->
    <!-- ngo view -->

<div class="fullwidth-ngo" *ngIf="category === 'ngo-view' ">
    
    <div #ngoView *ngIf="value && loadview">

         <div nz-row>
            <div nz-col nzSpan="9">
                <h1> <strong>  {{value.ngoName}} </strong> </h1> 
            </div>
            <div nz-col nzSpan="9">
                
            </div>
            <div nz-col nzSpan="6">
                <p> SPOC : <strong> {{value.spocName}} </strong></p>
                <p> Phone Number: <strong>{{ value.phoneNumber }}</strong></p>
            </div>
            <div nz-col nzSpan="8">
                <p>  Email : <strong> {{value.email}} </strong> </p>
            </div>
            <div nz-col nzSpan="16">
                <p>  Address : <strong> {{value.address}} </strong> </p>
            </div>
            <!-- <div nz-col nzSpan="8">
                <p>  Description : <strong> {{value.description}} </strong> </p>
            </div> -->
        </div>
<div>
    <p> Description : </p>

    <div [innerHTML]="value.description"></div>

          </div>


        <!-- this.NGO_projects  = this.value.projectDetails; -->
        <div nz-row   >
            <div nz-col nzSpan="12" *ngFor="let project of value.projectDetails" class="border_groove">
                <nz-divider [nzText]="project.projectName" nzOrientation="left"></nz-divider>

                <div nz-row  nz-row>
                    <div nz-col nzSpan="12" *ngFor="let location of project.ProjectLocationandTrees" class="border_groove" >
                      
                        <nz-divider [nzText]="getLocationname(location.projectLocationID)"></nz-divider>
                        
                        <div nz-row  nz-row>
                            <div nz-col nzSpan="12" *ngFor="let tree of location.trees" class="border_groove">
                                 <strong> Tree id : </strong>  {{ getTreename( tree.treeId ) }}
                                <br>
                                 <strong> Inventory :  </strong> {{ tree.invenoory }}
                                <br>
                                 <strong> Cost :   </strong>  {{ tree.cost }}
                                <br>
                                <strong> Min : </strong> {{ tree.min }}
                                <br>
                                <strong> Max : </strong> {{ tree.max }}

                            </div>
                            
                         </div>
        
                         <!-- <nz-divider [nzText]="location.projectLocationID"></nz-divider> -->
                    </div>
                    
                </div>
                 
                 <!-- <nz-divider [nzText]="project.projectName" nzOrientation="right"></nz-divider> -->
            </div>
         </div>

    </div>

</div>
  
 <!-- ngo view -->

  <!-- event view -->
 <div class="form-min-width" *ngIf="category === 'event-view' ">
    
    <div #eventView *ngIf="value">

        <h1> <strong>  {{value.eventName}} </strong> </h1> 
        <span *ngIf="value.isLive.toLowerCase() === 'yes'"> Status : <strong> Active ✅ </strong> </span> <span *ngIf="value.isLive.toLowerCase() === 'no'" > Status : <strong> Inactive 🚫</strong>  </span>

        <img [src]="value.eventImage" class="view-icon" alt="">


    </div>

</div>

 <!-- event view -->

 <!-- ecard-view -->
 <div class="form-min-width" *ngIf="category === 'ecard-view' ">
    
    <div #eventView *ngIf="value">

        <h1> <strong>  {{value.ecardName}} </strong> </h1> 
        <span *ngIf="value.isLive.toLowerCase() === 'yes'"> Status : <strong> Active ✅ </strong> </span> <span *ngIf="value.isLive.toLowerCase() === 'no'" > Status : <strong> Inactive 🚫</strong>  </span>
        <br>
        <br>
        <strong> HTML link : </strong> <br>
        
        <img [src]="value.html" style="width: 100px; height: 100px" alt="" />

         <br>
         <strong> Open for : <br>
         </strong>  
         <p *ngFor="let evnt of value.openFordataList; let i = index">
            {{i+1}} : {{evnt}}
         </p>
    </div>
  

</div>

 <!-- ecard-view -->

 <!-- queries-view -->
 <div class="form-min-width" *ngIf="category === 'queries-view' ">
    
    <div #queryView *ngIf="value">

        Email : <strong> {{value.email}}  </strong>   <br>
         
        Phone No : <strong> {{value.phoneNo}} </strong>   <br>

        Status : <strong>   {{value.status}} </strong> <br>

        Query : <br> <strong>   {{value.query}} </strong> 

 
         
    </div>
  

</div>

 <!-- queries-view   -->

  <!-- orders-view -->
<div class="fullwidth-orders" *ngIf="category === 'orders-view' ">
    
    <div #queryView *ngIf="value">

          <!-- <strong> {{value | json }}  </strong>   <br> -->
         
        <div nz-row    >
            <div nz-col  class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Project Name : <b>{{value.projectName}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Tree Name / Count  : <b>{{value.treeNameOrdered}} / ( {{ value.numberOfSpeciesOrdered }} ) </b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Location : <b>{{value.location}}</b> 
                </div>
            </div>
               <!--  -->
                <nz-divider nzText="Sender Details"></nz-divider>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Sender Name : <b>{{value.senderName}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Phone number : <b>{{value.senderPhoneNumber}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Repetative user : <b >  {{ value.isSenderRepeatUser === 'true' ?  'Yes' : 'NO'}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                  Pan Number : <b >  {{ value.panNumber }}</b> 
                </div>
            </div>
                <!--  -->
                <nz-divider nzText="Receiver Details"></nz-divider>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Receiver name  : <b>{{value.receiverName}}</b> 
                    
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Receiver number : <b>{{value.receiverPhoneNumber}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Receiver Email Id : <b>{{value.receiverEmailId}}</b> 
                </div>
            </div>
                <!--  -->
                <nz-divider nzText="vendor Details"></nz-divider>
             <div nz-col class="gutter-row" nzSpan="12"  >
                <div class="inner-box" > 
                    vendor name  : <b>{{value.vendorName}}</b> 
                </div>
             </div>
             <div nz-col class="gutter-row" nzSpan="12"  >
                <div class="inner-box" > 
                    vendor Email Id : <b>{{value.vendorEmailId}}</b> 
                </div>
            </div>

                <!--  -->
                <nz-divider nzText="Payment  Details"></nz-divider>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Mode of Payment   : <b>{{value.modeOfPayment}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Amount Received : <b>{{value.amountReceived}}</b> 
                </div>
            </div>
           <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Order Status: <b>{{value.status}}</b> 
                </div>
            </div>

        </div>  
<br>
<h3> <strong> Order Images : </strong> </h3>
<ng-container *ngFor="let item of value.orderPhotos; let i = index" class="smallpadding">
    <img [src]="item" alt="" style="width: 100px; height: 100px; margin: 10px" />

    <!-- <i class="trigger" nz-icon nzType="delete" nzTheme="outline" (click)="deleteimageindex(i)"></i> -->

    <nz-divider nzType="vertical"></nz-divider>

</ng-container>
<br>
<div class="inner-box" *ngIf="value.report">
    <strong> Download report &nbsp;&nbsp; </strong> <a href={{value.report}} target="_blank"> <i class="trigger" nz-icon
            nzType="download" nzTheme="outline"> </i> </a>
</div>
    </div>

</div>

 <!-- odes-view   -->
<!-- Projects -->

<div class="fullwidth-orders" *ngIf="category === 'Projects-view' ">

    <div #queryView *ngIf="value">

        <!-- <strong> {{value.projectDetails | json }} </strong> <br> -->

        <nz-divider nzText="Project  Details"></nz-divider>

        <div nz-row>
            <div nz-col class="gutter-row" nzSpan="8">
                <div class="inner-box">
                    Project Name : <b>{{value.projectDetails.projectName}}</b>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8">
                <div class="inner-box">
                    Project live status : <b>{{value.projectDetails.live}} </b>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8">
                <div class="inner-box">
                    id : <b>{{value.projectDetails._id}}</b>
                </div>
            </div>

        </div>

        <!-- -- locationDetails -- -->
        <nz-divider nzText="Location  Details"></nz-divider>


        <div nz-row>
            <div nz-col class="gutter-row" nzSpan="10">
                <div class="inner-box">
                    Location name : <strong> {{ value.locationDetails.locationName}} </strong>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8">
                <div class="inner-box">
                    Location live status : <strong> {{ value.projectDetails.live}} </strong>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="4">
                <div class="inner-box" *ngIf="value.projectDetails.report">
                    <strong> Download report &nbsp;&nbsp; </strong> <a href={{value.projectDetails.report}} target="_blank"> <i
                            class="trigger" nz-icon nzType="download" nzTheme="outline"> </i> </a>
                </div>
            </div>

        </div>

        <nz-divider nzText="Tree  Details"></nz-divider>



        <!-- {{value.projectDetails.ProjectLocationandTrees.trees | json}} -->

        <div nz-row *ngFor="let tree of value.projectDetails.ProjectLocationandTrees.trees">
            <div nz-col class="gutter-row" nzSpan="6">
                <div class="inner-box">
                    Name : <b>{{value.trees[0].treeName}}</b>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="4">
                <div class="inner-box">
                Invenory: <b>{{tree.invenoory}} </b>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="4">
                <div class="inner-box">
                Slapping cost : <b>{{tree.cost}}</b>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
                <div class="inner-box">
                    Min : <b>{{tree.min}} </b>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
                <div class="inner-box">
                    Max : <b>{{tree.max}}</b>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
                <div class="inner-box">
                    id : <b>{{tree._id}}</b>
                </div>
            </div>

        </div>

    </div>

</div>