


<!-- tree add form -->

<div class="form-min-width" *ngIf="category === 'tree-view' ">
    
    <div #TreeView *ngIf="value">

        <img [src]="value.icon" class="view-icon" alt="">

        <h1> {{value.treeName}}  </h1> 
        <h3> Primary tag : <strong> {{value.primaryTag}} </strong></h3>
        <h3> Scondary tag : <strong>{{ value.secondaryTag }}</strong></h3>
        <span *ngIf="value.isLive"> Status : Active ✅ </span> <span *ngIf="!value.isLive"> Status : Inactive 🚫 </span>
        <p> Tree Introduction : <strong> {{value.treeIntroduction}} </strong> </p>
        <div *ngFor="let img of value.images ">

            <img [src]="img" alt="" class="additinalimgs">

        </div>
    </div>

</div>

    <!-- tree view -->
    <!-- ngo view -->

<div class="fullwidth-ngo" *ngIf="category === 'ngo-view' ">
    
    <div #ngoView *ngIf="value && loadview">

         <div nz-row>
            <div nz-col nzSpan="12">
                <h1> <strong>  {{value.ngoName}} </strong> </h1> 
            </div>
            <div nz-col nzSpan="6">
                
            </div>
            <div nz-col nzSpan="6">
                <p> SPOC : <strong> {{value.spocName}} </strong></p>
                <p> Phone Number: <strong>{{ value.phoneNumber }}</strong></p>
            </div>
            <div nz-col nzSpan="4">
                <p>  Email : <strong> {{value.email}} </strong> </p>
            </div>
            <div nz-col nzSpan="10">
                <p>  Address : <strong> {{value.address}} </strong> </p>
            </div>
            <div nz-col nzSpan="10">
                <p>  Description : <strong> {{value.description}} </strong> </p>
            </div>
          </div>


        <!-- this.NGO_projects  = this.value.projectDetails; -->
        <div nz-row   >
            <div nz-col nzSpan="12" *ngFor="let project of value.projectDetails" class="border_groove">
                <nz-divider [nzText]="project.projectName" nzOrientation="left"></nz-divider>

                <div nz-row  nz-row>
                    <div nz-col nzSpan="12" *ngFor="let location of project.ProjectLocationandTrees" class="border_groove" >
                      
                        <nz-divider [nzText]=" getLocationname(location.projectLocationID)"></nz-divider>
                        
                        <div nz-row  nz-row>
                            <div nz-col nzSpan="12" *ngFor="let tree of location.trees" class="border_groove">
                                 <strong> Tree id : </strong>  {{ getTreename( tree.treeId ) }}
                                <br>
                                 <strong> Inventory :  </strong> {{ tree.invenoory }}
                                <br>
                                 <strong> Cost :   </strong>  {{ tree.cost }}
                            </div>
                            
                         </div>
        
                         <!-- <nz-divider [nzText]="location.projectLocationID"></nz-divider> -->
                    </div>
                    
                </div>
                 
                 <!-- <nz-divider [nzText]="project.projectName" nzOrientation="right"></nz-divider> -->
            </div>
         </div>

    </div>

</div>
  
 <!-- ngo view -->

  <!-- event view -->
 <div class="form-min-width" *ngIf="category === 'event-view' ">
    
    <div #eventView *ngIf="value">

        <h1> <strong>  {{value.eventName}} </strong> </h1> 
        <span *ngIf="value.isLive.toLowerCase() === 'yes'"> Status : <strong> Active ✅ </strong> </span> <span *ngIf="value.isLive.toLowerCase() === 'no'" > Status : <strong> Inactive 🚫</strong>  </span>

        <img [src]="value.eventImage" class="view-icon" alt="">


    </div>

</div>

 <!-- event view -->

 <!-- ecard-view -->
 <div class="form-min-width" *ngIf="category === 'ecard-view' ">
    
    <div #eventView *ngIf="value">

        <h1> <strong>  {{value.ecardName}} </strong> </h1> 
        <span *ngIf="value.isLive.toLowerCase() === 'yes'"> Status : <strong> Active ✅ </strong> </span> <span *ngIf="value.isLive.toLowerCase() === 'no'" > Status : <strong> Inactive 🚫</strong>  </span>
        <br>
        <br>
         <strong> HTML link : </strong>  {{value.html}} <br>
         <br>
         <strong> Open for : <br>
         </strong>  
         <p *ngFor="let evnt of value.openFordataList; let i = index">
            {{i+1}} : {{evnt}}
         </p>
    </div>
  

</div>

 <!-- ecard-view -->

 <!-- queries-view -->
 <div class="form-min-width" *ngIf="category === 'queries-view' ">
    
    <div #queryView *ngIf="value">

        Email : <strong> {{value.email}}  </strong>   <br>
         
        Phone No : <strong> {{value.phoneNo}} </strong>   <br>

        Status : <strong>   {{value.status}} </strong> <br>

        Query : <br> <strong>   {{value.query}} </strong> 

 
         
    </div>
  

</div>

 <!-- queries-view   -->

  <!-- orders-view -->
<div class="fullwidth-orders" *ngIf="category === 'orders-view' ">
    
    <div #queryView *ngIf="value">

          <!-- <strong> {{value | json }}  </strong>   <br> -->
         
        <div nz-row    >
            <div nz-col  class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Project Name : <b>{{value.projectName}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Tree Name / Count  : <b>{{value.treeNameOrdered}} / ( {{ value.numberOfSpeciesOrdered }} ) </b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Location : <b>{{value.location}}</b> 
                </div>
            </div>
               <!--  -->
                <nz-divider nzText="Sender Details"></nz-divider>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Sender Name : <b>{{value.senderName}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Phone number : <b>{{value.senderPhoneNumber}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Repetative user : <b >  {{ value.isSenderRepeatUser === 'true' ?  'Yes' : 'NO'}}</b> 
                </div>
            </div>
                <!--  -->
                <nz-divider nzText="Receiver Details"></nz-divider>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Receiver name  : <b>{{value.receiverName}}</b> 
                    
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Receiver number : <b>{{value.receiverPhoneNumber}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Receiver Email Id : <b>{{value.receiverEmailId}}</b> 
                </div>
            </div>
                <!--  -->
                <nz-divider nzText="vendor Details"></nz-divider>
             <div nz-col class="gutter-row" nzSpan="12"  >
                <div class="inner-box" > 
                    vendor name  : <b>{{value.vendorName}}</b> 
                </div>
             </div>
             <div nz-col class="gutter-row" nzSpan="12"  >
                <div class="inner-box" > 
                    vendor Email Id : <b>{{value.vendorEmailId}}</b> 
                </div>
            </div>

                <!--  -->
                <nz-divider nzText="Payment  Details"></nz-divider>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Mode of Payment   : <b>{{value.modeOfPayment}}</b> 
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Amount Received : <b>{{value.amountReceived}}</b> 
                </div>
            </div>
           <div nz-col class="gutter-row" nzSpan="8"  >
                <div class="inner-box" > 
                    Order Status: <b>{{value.status}}</b> 
                </div>
            </div>

        </div>  
    </div>

</div>

 <!-- odes-view   -->