


<!-- tree add form -->

<div class="form-min-width" *ngIf="category === 'tree-view' ">
    
    <div #TreeView *ngIf="value">

        <img [src]="value.icon" class="view-icon" alt="">

        <h1> {{value.treeName}}  </h1> 
        <h3> Primary tag : <strong> {{value.primaryTag}} </strong></h3>
        <h3> Scondary tag : <strong>{{ value.secondaryTag }}</strong></h3>
        <span *ngIf="value.isLive"> Status : Active ✅ </span> <span *ngIf="!value.isLive"> Status : Inactive 🚫 </span>
        <p> Tree Introduction : <strong> {{value.treeIntroduction}} </strong> </p>
        <div *ngFor="let img of value.images ">

            <img [src]="img" alt="" class="additinalimgs">

        </div>
    </div>

</div>

    <!-- tree view -->
    <!-- ngo view -->

<div class="form-min-width" *ngIf="category === 'ngo-view' ">
    
    <div #ngoView *ngIf="value">

        <h1> <strong>  {{value.ngoName}} </strong> </h1> 
        <p> SPOC : <strong> {{value.spocName}} </strong></p>
        <p> Phone Number: <strong>{{ value.phoneNumber }}</strong></p>
        <p>  Email : <strong> {{value.email}} </strong> </p>
        <p>  Address : <strong> {{value.address}} </strong> </p>
        <p>  Description : <strong> {{value.description}} </strong> </p>

    </div>

</div>
  
 <!-- ngo view -->

  <!-- event view -->
 <div class="form-min-width" *ngIf="category === 'event-view' ">
    
    <div #eventView *ngIf="value">

        <h1> <strong>  {{value.eventName}} </strong> </h1> 
        <span *ngIf="value.isLive.toLowerCase() === 'yes'"> Status : <strong> Active ✅ </strong> </span> <span *ngIf="value.isLive.toLowerCase() === 'no'" > Status : <strong> Inactive 🚫</strong>  </span>

        <img [src]="value.eventImage" class="view-icon" alt="">


    </div>

</div>

 <!-- event view -->