<!-- tree add form -->
<div class="form-min-width" *ngIf="category === 'tree'">
  <div class="center" *ngIf="isNew === false">
    Is Live
    <nz-switch class="" [(ngModel)]="isLive"></nz-switch>
  </div>

  <form [formGroup]="TreeForm" >
    <div class="login-form">
      <div class="gutter-row">
        <div class="inner-box">
          <label> Tree name *</label>
          <input
            nz-input
            placeholder="Tree name"
            type="text"
            class="form-control"
            formControlName="treeName"
            name="treename"
          />
          <div class="validation-error">
            <p>{{ showreqError(TreeForm, "treeName") }}</p>
          </div>
        </div>
      </div>

      <div class="gutter-row">
        <div class="inner-box">
          <label> Primary tag * </label>
          <input
            nz-input
            placeholder="Primarytag"
            type="text"
            class="form-control"
            formControlName="primaryTag"
            name="primarytag"
          />
          <div class="validation-error">
            <p>{{ showreqError(TreeForm, "primaryTag") }}</p>
          </div>
        </div>
      </div>
<br>
      <div class="gutter-row">
        <div class="inner-box">
          <label> Secondary tag * </label>
         
          <button nz-button nzType="default" nzSize ="small" (click)="addsecondaryTag()"> + Secondary Tag</button>

          <!-- --- -->

          <ng-container formArrayName="secondaryTag" class="smallpaddingtop">
            <ng-container *ngFor="let stag of secondaryTag.controls; let i = index" >

                <div  [formGroup]="stag" class="smallpaddingtop">

                  <div nz-row >
                    <div nz-col class="gutter-row" [nzSpan]="18"><div class="inner-box">
                      <input  nz-input  [placeholder]=" 'secondary tag : ' + (i+1)" type="text"  class="form-control"  formControlName="tag" name="tag"  />

                    </div></div>
                    <div nz-col class="gutter-row" [nzSpan]="1"><div class="inner-box">

                    </div></div>
                    <div nz-col class="gutter-row" [nzSpan]="4"><div class="inner-box">
                      <button nz-button nzType="default"  (click)="deletesecondaryTag(i)" nzDanger>Delete tag</button>

                    </div></div>
                    <div nz-col class="gutter-row" [nzSpan]="1"><div class="inner-box">

                    </div></div>
                  
                  </div>
                </div>
            </ng-container>
        </ng-container>


          <!-- --- -->


        </div>
      </div>
      <div class="gutter-row">
        <div class="inner-box">
          <label> Price * </label>
          <input
            nz-input
            placeholder="Price"
            type="text"
            class="form-control"
            formControlName="price"
            name="price"
          />
         
        </div>
      </div>

      <div class="gutter-row">
        <div class="inner-box">
          <label> Tree image * </label>
          <br />
          <input
            (change)="onOneImageSelected($event)"
            placeholder="Select image"
            type="file"
            accept="image/png, image/gif, image/jpeg"
            class="form-control"
            formControlName="icon"
            name="treeimage"
          />
          <!-- <div  class="validation-error" > <p> {{ showreqError(TreeForm,'icon') }}</p></div> -->
        </div>
      </div>
      <br>
      <div *ngIf="uploadedImage">
        <img
        [src]="uploadedImage"
        style="width: 100px; height: 100px"
        alt=""
      />
      <i class="trigger" nz-icon nzType="delete" nzTheme="outline"  (click)="deleteLogo()" ></i>
      </div>

      <div class="gutter-row">
        <div class="inner-box">
          <label> Extra image </label>
          <br />
          <input
            (change)="onImagesSelected($event)"
            placeholder="Select image"
            type="file"
            accept="image/png, image/gif, image/jpeg"
            class="form-control"
            formControlName="images"
            name="treeimages"
            multiple
          />
          <!-- <div  class="validation-error" > <p> {{ showreqError(TreeForm,'treeimage') }}</p></div> -->
        </div>
      </div>
      <ng-container *ngFor="let item of multipleUploadImages; let i = index" class="smallpadding">
        <img
          [src]="item"
          alt=""
          style="width: 100px; height: 100px; margin: 10px"
        />

        <i class="trigger" nz-icon nzType="delete" nzTheme="outline"  (click)="deleteimageindex(i)" ></i>

        <nz-divider nzType="vertical"></nz-divider>

      </ng-container>

      <div class="gutter-row">
        <div class="inner-box">
          <label> Tree introduction * </label>
<ckeditor class="editor" [config]="{
            toolbar: [
                'heading',
                '|',
                'bold',
                'italic',
                'link',
                'bulletedList',
                'numberedList'
            ]
        }" [editor]="Editor" formControlName="treeIntroduction"></ckeditor>

<!-- <textarea
            nz-input
            placeholder="Tree introduction"
            class="form-control"
            formControlName="treeIntroduction"
            name="treeintro"
          ></textarea> -->
          <div class="validation-error">
            <p>{{ showreqError(TreeForm, "treeIntroduction") }}</p>
          </div>
        </div>
      </div>
      <br />
      <div class="gutter-row align-center">
        <div class="inner-box">
          <button
            nz-button
            nzType="primary"
            nzBlock
            type="button"
            (click)="treeSubmit()"
            [disabled]="!TreeForm.valid"
          >
            {{ button }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- tree add form -->



<!-- ngo add form -->

<div *ngIf="category === 'NGO'">
  <!-- (ngSubmit)="NGOSubmit()" -->

  <form [formGroup]="NGOForm">
    <div nz-row class="login-form" class="form-no-min-width" [nzGutter]="16">
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
          <label> NGO name *</label>
          <input
            nz-input
            placeholder="NGO name"
            type="text"
            class="form-control"
            formControlName="ngoName"
            name="ngoName"
          />
          <div class="validation-error">
            <p>{{ showreqError(NGOForm, "ngoName") }}</p>
          </div>
        </div>
      </div>

      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
          <label> Point of contact * </label>
          <input
            nz-input
            placeholder="SPOC Name"
            type="text"
            class="form-control"
            formControlName="spocName"
            name="spocName"
          />
          <div class="validation-error">
            <p>{{ showreqError(NGOForm, "spocName") }}</p>
          </div>
        </div>
      </div>

      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
          <label> Phone Number * </label>
          <input
            nz-input
            placeholder="PhoneNumber"
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            name="phoneNumber"
          />
          <div class="validation-error">
            <p>{{ showreqerrandPhoneerror(NGOForm, "phoneNumber") }}</p>
          </div>
        </div>
      </div>

      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
          <label> Email * </label>
          <input
            nz-input
            placeholder="Email"
            type="text"
            class="form-control"
            formControlName="email"
            name="email"
          />
          <div class="validation-error">
            <p>{{ showreqandemilError(NGOForm, "email") }}</p>
          </div>
        </div>
      </div>

      <!-- <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
        
          <textarea
            nz-input
            placeholder="NGO Description"
            class="form-control"
            formControlName="description"
            name="description"
          ></textarea>
          <div class="validation-error">
            <p>{{ showreqError(NGOForm, "description") }}</p>
          </div>
        </div>
      </div> -->

      <div nz-col class="gutter-row" nzSpan="16">
        <div class="inner-box">
          <label> NGO Address * </label>
          <textarea
            nz-input
            placeholder="NGO Address"
            class="form-control"
            formControlName="address"
            name="address"
          ></textarea>
          <div class="validation-error">
            <p>{{ showreqError(NGOForm, "address") }}</p>
          </div>
        </div>
      </div>
    </div>
    <label> NGO Description * </label>
    <ckeditor class="editor" [config]="{
      toolbar: [
          'heading',
          '|',
          'bold',
          'italic',
          'link',
          'bulletedList',
          'numberedList'
      ]
  }" [editor]="Editor" formControlName="description"></ckeditor>
  </form>
  <br>
  <!-- data {{NGO_projects | json}} -->
  <div *ngIf="isNew === false">
    <button nz-button nzType="primary" (click)="addNGOPrj()">
      ADD project
    </button>

    <nz-divider nzText="Projects " nzOrientation="left"></nz-divider>

    <div nz-row [nzGutter]="16">
      <div
        *ngFor="let project of NGO_projects; index as prjindex"
        nz-col
        nzSpan="8"
        class="gutter-row"
      >
        <div class="inner-box">
          <div nz-row>
            <div nz-col nzSpan="18">
              <label> Project name * </label>
              <input
                nz-input
                placeholder="Project name "
                type="text"
                name="prj name"
                [(ngModel)]="project.projectName"
              />
            </div>
            <div nz-col nzSpan="6" class="smallpadding">
              <div nz-row>
                <div nz-col nzSpan="24">
                  <button
                    nz-button
                    nzType="primary"
                    nzSize="small"
                    class="fullwidth"
                    (click)="addNGOloc(prjindex)"
                  >
                    + Location
                  </button>
                </div>
                <div nz-col nzSpan="24">
                  <button
                    nz-button
                    nzType="default"
                    nzSize="small"
                    class="smallpaddingtop fullwidth"
                    (click)="deleteNGOprj(prjindex)"
                    nzDanger
                  >
                    - Project
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div
            *ngFor="
              let location of NGO_projects[prjindex].ProjectLocationandTrees;
              index as locindex
            "
          >
            <nz-divider
              [nzText]="
                'Project name : ' +
                project.projectName +
                ',  Location ' +
                ' list : ' +
                (locindex + 1)
              "
            ></nz-divider>

            <div nz-row>
              <div nz-col nzSpan="18">
                <!-- <input  nz-input placeholder="location name " type="text"  name="prj name" [(ngModel)]="location.location_name" /> -->
                <label> Project Location * </label>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select location "
                  [(ngModel)]="location.projectLocationID"
                  name="location"
                >
                  <nz-option
                    *ngFor="let location of LocationsList"
                    [nzLabel]="location.locationName"
                    [nzValue]="location._id"
                  ></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="6" class="smallpadding">
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <button
                      nz-button
                      nzType="primary"
                      nzSize="small"
                      class="fullwidth"
                      (click)="addNGOloctree(prjindex, locindex)"
                    >
                      + Tree
                    </button>
                  </div>
                  <div nz-col nzSpan="24">
                    <button
                      nz-button
                      nzType="default"
                      class="smallpaddingtop fullwidth"
                      nzSize="small"
                      (click)="deleteNGOlocation(prjindex, locindex)"
                      nzDanger
                    >
                      - Location
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <nz-divider nzText=" Trees "></nz-divider>

            <div nz-row [nzGutter]="16">
              <div
                *ngFor="
                  let tree of NGO_projects[prjindex].ProjectLocationandTrees[
                    locindex
                  ].trees;
                  index as treeindex
                "
                nz-col
                [nzSpan]="8"
                class="gutter-row"
              >
                <div class="inner-box">
                  <label> Tree {{ treeindex + 1 }} name * </label>
                  <!-- <input  nz-input placeholder="tree name " type="text"  name="tree name" [(ngModel)]="tree.treeName" /> -->

                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select tree"
                    [(ngModel)]="tree.treeId"
                    name="tree"
                  >
                    <nz-option
                      *ngFor="let tree of TreesList"
                      [nzLabel]="tree.treeName"
                      [nzValue]="tree._id"
                    ></nz-option>
                  </nz-select>

                  <br />
                  <label> Inventory * </label>
                  <input
                    nz-input
                    placeholder="inventory "
                    type="number"
                    name="inven name"
                    [(ngModel)]="tree.invenoory"
                  />
                  <br />
                  <label> Cost per plant * </label>
                  <input
                    nz-input
                    placeholder="cost "
                    type="number"
                    name="cost"
                    [(ngModel)]="tree.cost"
                  />

                  <br />
                  <label> Min no of plants* </label>
                  <input nz-input placeholder="cost " type="number" name="min count" [(ngModel)]="tree.min" />
                  
                  <br />
                  <label> Max no of plants* </label>
                  <input nz-input placeholder="cost " type="number" name="max count" [(ngModel)]="tree.max" />

                  <button
                    nz-button
                    nzType="default"
                    class="smallpaddingtop fullwidth"
                    nzSize="small"
                    (click)="deleteNGOloctree(prjindex, locindex, treeindex)"
                    nzDanger
                  >
                    Remove tree
                  </button>
                </div>
              </div>
              <nz-divider
                [nzText]="
                  'End of ' +
                  project.projectName +
                  ' Project ' +
                  ' list : ' +
                  (locindex + 1)
                "
              ></nz-divider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div nz-col class="gutter-row align-center" [disabled]="!NGOForm?.valid">
    <div class="inner-box">
      <button
        nz-button
        nzType="primary"
        nzBlock
        type="submit"
        (click)="NGOSubmit()"
      >
        {{ button }}
      </button>
    </div>
  </div>
</div>

<!-- ngo add form -->

<!-- event add form -->
<div class="form-min-width" *ngIf="category === 'event'">
  <div class="center" *ngIf="isNew === false">
    Is Live
    <nz-switch class="" [(ngModel)]="isLive"></nz-switch>
  </div>

  <form [formGroup]="EvetForm" (ngSubmit)="eventSubmit()">
    <div class="login-form">
      <div class="gutter-row">
        <div class="inner-box">
          <label> Event name *</label>
          <input
            nz-input
            placeholder="Event name"
            type="text"
            class="form-control"
            formControlName="eventName"
            name="eventName"
          />
          <div class="validation-error">
            <p>{{ showreqError(EvetForm, "eventName") }}</p>
          </div>
        </div>
      </div>

      <div class="gutter-row">
        <div class="inner-box">
          <label> Event image * </label>
          <br />
          <input
            (change)="onOneImageSelected($event)"
            placeholder="Select image"
            type="file"
            accept="image/png, image/gif, image/jpeg"
            class="form-control"
            formControlName="eventImage"
            name="eventImage"
          />
          <!-- <div  class="validation-error" > <p> {{ showreqError(EvetForm,'eventImage') }}</p></div> -->
        </div>
      </div>
      <br>
      <div *ngIf="uploadedImage">
        <img
        [src]="uploadedImage"
        style="width: 300px; height: 300px"
        alt=""
      />
      <i class="trigger" nz-icon nzType="delete" nzTheme="outline"  (click)="deleteLogo()" ></i>
      </div>

      <br />
      <div class="gutter-row align-center">
        <div class="inner-box">
          <button
            nz-button
            nzType="primary"
            nzBlock
            type="submit"
            [disabled]="!EvetForm.valid"
          >
            {{ button }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- event add form -->

<!-- ecard add form -->
<div class="form-min-width" *ngIf="category === 'ecard'">
  <div class="center" *ngIf="isNew === false">
    Is Live
    <nz-switch class="" [(ngModel)]="isLive"></nz-switch>
  </div>

  <form [formGroup]="EcardForm" (ngSubmit)="ecardSubmit()">
    <div class="login-form">
      <div class="gutter-row">
        <div class="inner-box">
          <label> Ecard name *</label>
          <input
            nz-input
            placeholder="Ecard name"
            type="text"
            class="form-control"
            formControlName="ecardName"
            name="ecardName"
          />
          <div class="validation-error">
            <p>{{ showreqError(EcardForm, "ecardName") }}</p>
          </div>
        </div>
      </div>
<!-- ## -->

<div class="gutter-row">
  <div class="inner-box">
    <label> Ecard image * </label>
    <br />
    <input (change)="onOneImageSelectedEcard($event)" placeholder="Select image" type="file"
      accept="image/png, image/gif, image/jpeg" />
    <!-- <div  class="validation-error" > <p> {{ showreqError(TreeForm,'icon') }}</p></div> -->
    </div>
    </div>
    <br>
    <div *ngIf="uploadedImage">
      <img [src]="uploadedImage" style="width: 100px; height: 100px" alt="" />
      <i class="trigger" nz-icon nzType="delete" nzTheme="outline" (click)="deleteLogo()"></i>
    </div>
    
    
    
    
    <!-- <div class="gutter-row">
                            <div class="inner-box">
                              <label> Ecard HTML link * </label>
          <textarea
            nz-input
            placeholder="Ecard HTML link"
            type="text"
            class="form-control"
            formControlName="html"
            name="html"
          ></textarea>
          <div class="validation-error">
            <p>{{ showreqError(EcardForm, "html") }}</p>
          </div>
        </div>
      </div> -->

      <div class="gutter-row" *ngIf="isNew === false">
        <div class="inner-box">
          <label> Open for tags* &nbsp;&nbsp;&nbsp;</label>

          <nz-select
            nzMode="multiple"
            [nzMaxTagCount]="3"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select events"
            formControlName="openFor"
            name="openFor"
          >
            <nz-option
              *ngFor="let event of EventsList"
              [nzLabel]="event.eventName"
              [nzValue]="event._id"
            ></nz-option>
          </nz-select>

          <div class="validation-error">
            <p>{{ showreqError(EcardForm, "openFor") }}</p>
          </div>
        </div>
      </div>

      <br />
      <div class="gutter-row align-center">
        <div class="inner-box">
          <button
            nz-button
            nzType="primary"
            nzBlock
            type="submit"
            [disabled]="!EcardForm.valid"
          >
            {{ button }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- ecard add form -->

<!-- orders  -->
<div class="fullwidth-orders" *ngIf="category === 'orders'">


  <!-- view -->


  <div nz-row    >
    <div nz-col  class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Project Name : <b>{{value.projectName}}</b> 
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Tree Name / Count  : <b>{{value.treeNameOrdered}} / ( {{ value.numberOfSpeciesOrdered }} ) </b> 
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Location : <b>{{value.location}}</b> 
        </div>
    </div>
       <!--  -->
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Sender Name : <b>{{value.senderName}}</b> 
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Phone number : <b>{{value.senderPhoneNumber}}</b> 
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Repetative user : <b >  {{ value.isSenderRepeatUser === 'true' ?  'Yes' : 'NO'}}</b> 
        </div>
    </div>
        <!--  -->
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Receiver name  : <b>{{value.receiverName}}</b> 
            
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Receiver number : <b>{{value.receiverPhoneNumber}}</b> 
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Receiver Email Id : <b>{{value.receiverEmailId}}</b> 
        </div>
    </div>
        <!--  -->
     <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            vendor name  : <b>{{value.vendorName}}</b> 
        </div>
     </div>
     <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            vendor Email Id : <b>{{value.vendorEmailId}}</b> 
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8"  >
      <div class="inner-box" > 
      </div>
  </div>

        <!--  -->
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Mode of Payment   : <b>{{value.modeOfPayment}}</b> 
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Amount Received : <b>{{value.amountReceived}}</b> 
        </div>
    </div>
   <div nz-col class="gutter-row" nzSpan="8"  >
        <div class="inner-box" > 
            Order Status: <b>{{value.status}}</b> 
        </div>
    </div>

</div>  
<br><br>
  <!-- view -->

  <!-- multiple image -->
  
  <div class="gutter-row">
    <div class="inner-box">
      <label> Order images </label>
      <br />
      <input (change)="onImagesSelectedOrder($event)" placeholder="Select image" type="file"
        accept="image/png, image/gif, image/jpeg" class="form-control" name="treeimages" multiple />
    </div>
  </div>
  <ng-container *ngFor="let item of multipleUploadImages; let i = index" class="smallpadding">
    <img [src]="item" alt="" style="width: 100px; height: 100px; margin: 10px" />
  
    <i class="trigger" nz-icon nzType="delete" nzTheme="outline" (click)="deleteimageindex(i)"></i>
  
    <nz-divider nzType="vertical"></nz-divider>
  
  </ng-container>
  
  <br><br>
<!-- @@ -->
<div class="center-div">

  <nz-divider nzText="Reports "></nz-divider>

  <label> Order report * </label>
  <br />
  <input (change)="onOneFileSelectedForOrder($event)" placeholder="Select report" type="file" accept="application/pdf"
    class="form-control" name="report" />

  <br>
  <br>
  <div *ngIf="uploadedDoc">

    link generated : {{uploadedDoc}}
    <br>

    Download report <a href={{uploadedDoc}} target="_blank"> <i class="trigger" nz-icon nzType="download"
        nzTheme="outline"> </i> </a>
    <i class="trigger" nz-icon nzType="delete" nzTheme="outline" (click)="deleteDoc()"></i>
  </div>
</div>
<br><br>
  
  
  <!-- multiple image -->


  <form [formGroup]="OrdersForm" (ngSubmit)="orderEditSubmit()">
    <div class="login-form">
      <div class="gutter-row">
        <div class="inner-box">
          <label> Change the status *</label>
         
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Change the status"
                formControlName="status"
                name="status" >
                <nz-option nzLabel = "open" nzValue = "open"></nz-option>
                <nz-option nzLabel = "In progress" nzValue = "In progress"></nz-option>
                <nz-option nzLabel = "Planted" nzValue = "Planted"></nz-option>
                <nz-option nzLabel = "Project concluded" nzValue = "Project concluded"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
   
      <br />
      <div class="gutter-row align-center">
        <div class="inner-box">
          <button
            nz-button
            nzType="primary"
            nzBlock
            type="submit"
            [disabled]="!OrdersForm.valid"
          >
            {{ button }}
          </button>
        </div>
      </div>
  
  </form>
</div>

<!-- QueriesForm -->

<div class="form-min-width" *ngIf="category === 'queries'">

  <!-- view -->

  Email : <strong> {{value.email}}  </strong>   <br>
         
  Phone No : <strong> {{value.phoneNo}} </strong>   <br>

  Status : <strong>   {{value.status}} </strong> <br>

  Query : <br> <strong>   {{value.query}} </strong> 


   <br><br><br>


  <!-- view -->

  <form [formGroup]="QueriesForm" (ngSubmit)="queriesEditSubmit()">
    <div class="login-form">
      <div class="gutter-row">
        <div class="inner-box">
          <label> Change the status *</label>
         
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Change the status"
                formControlName="status"
                name="status" >
                <nz-option nzLabel = "Open" nzValue = "Open"></nz-option>
                <nz-option nzLabel = "In progress" nzValue = "In progress"></nz-option>
                <nz-option nzLabel = "Closed" nzValue = "Closed"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
   
      <br />
      <div class="gutter-row align-center">
        <div class="inner-box">
          <button
            nz-button
            nzType="primary"
            nzBlock
            type="submit"
            [disabled]="!QueriesForm.valid"
          >
            {{ button }}
          </button>
        </div>
      </div>
    </form>
    
    <br>
      <div class="chat" *ngFor="let onemsg of value.chats">

        <div class="user-msg" *ngIf="onemsg.type === 'user' ">
          <nz-card style="width: 400px;margin-top: 5px">
          <nz-card-meta
            [nzAvatar]="userTemplate"
            [nzTitle]=" 'User at '+  onemsg.date.substring(0,16) "
            [nzDescription]="  onemsg.reply"
          ></nz-card-meta>
        </nz-card>
        <ng-template #userTemplate>
          <nz-avatar nzSrc="https://www.ipiindia.org/site_data/user_profiles/admin/default.jpg"></nz-avatar>
        </ng-template>
      </div>


      <div class="admin-msg" *ngIf="onemsg.type === 'admin' ">

        <nz-card style="width: 400px;margin-top: 5px">
          <nz-card-meta
            [nzAvatar]="adminTemplate"
            [nzTitle]=" 'Admin at ' +  onemsg.date.substring(0,16) "
            [nzDescription]="onemsg.reply"
          ></nz-card-meta>
        </nz-card>
        <ng-template #adminTemplate>
          <nz-avatar nzSrc="https://www.svgimages.com/svg-image/s2/admin-256x256.png"></nz-avatar>
        </ng-template>
        </div>

      
      </div>

      <label> Send message *</label>
      <input
        nz-input
        placeholder="Message"
        type="text"
        name="treename"
        [(ngModel)]="newMsg"
      />
      <br>
      <br>
      <button
      nz-button
      nzType="primary"
      nzBlock
      (click)="sendNewChat()"
    >
      Send 
    </button>
</div>
<div *ngIf="category === 'projects'">


  <div #queryView *ngIf="value">

    <!-- <strong> {{value.projectDetails | json }} </strong> <br> -->

    <nz-divider nzText="Project  Details"></nz-divider>

    <div class="center-div">
      Is Project Live :
      <nz-switch class="" [(ngModel)]="isPrjLive"></nz-switch>
    </div>

    <div nz-row>
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
          Project Name : <b>{{value.projectDetails.projectName}}</b>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
          Is live : <b>{{value.projectDetails.live}} </b>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
          id : <b>{{value.projectDetails._id}}</b>
        </div>
      </div>

    </div>



    <!-- -- locationDetails -- -->
    <nz-divider nzText="Location  Details"></nz-divider>

    <div class="center-div">
      Is Location Live :
      <nz-switch class="" [(ngModel)]="isLocLive"></nz-switch>
    </div>
    <br>

    <div nz-row>
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
          Location name : <strong> {{ value.locationDetails.locationName}} </strong>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box">
          Location live status : <strong> {{ value.projectDetails.live}} </strong>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="inner-box" *ngIf="value.projectDetails.report">
          <strong> Download report </strong> <a href={{value.projectDetails.report}} target="_blank"> <i class="trigger"
              nz-icon nzType="download" nzTheme="outline"> </i> </a>
        </div>
      </div>

    </div>
<!-- <p>debug : {{value || json}}</p> -->
    <nz-divider nzText="Tree  Details"></nz-divider>

    <div nz-row *ngFor="let tree of value.projectDetails.ProjectLocationandTrees.trees">
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="inner-box">
          Name : <b>{{value.trees[0].treeName}}</b>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="4">
        <div class="inner-box">
          Invenory: <b>{{tree.invenoory}} </b>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="4">
        <div class="inner-box">
          Slapping cost : <b>{{tree.cost}}</b>
        </div>
      </div>
<div nz-col class="gutter-row" nzSpan="2">
  <div class="inner-box">
    Min : <b>{{tree.min}} </b>
  </div>
</div>
<div nz-col class="gutter-row" nzSpan="2">
  <div class="inner-box">
    Max : <b>{{tree.max}}</b>
  </div>
</div>

      <div nz-col class="gutter-row" nzSpan="6">
        <div class="inner-box">
          id : <b>{{tree._id}}</b>
        </div>
      </div>

    </div>

    <br>

    <div class="center-div">

      <nz-divider nzText="Reports "></nz-divider>

      <label> Project report * </label>
      <br />
      <input (change)="onOneFileSelected($event)"
       placeholder="Select report" type="file" accept="application/pdf"
        class="form-control" name="report" />

      <br>
      <br>
      <div *ngIf="uploadedDoc">

        link generated : {{uploadedDoc}}
        <br>

        Download report <a href={{uploadedDoc}} target="_blank"> <i class="trigger" nz-icon nzType="download"
            nzTheme="outline"> </i> </a>
        <i class="trigger" nz-icon nzType="delete" nzTheme="outline" (click)="deleteDoc()"></i>
      </div>
    </div>

  </div>

  <button nz-button nzType="primary" (click)="submitVendPrj()" nzBlock> Submit </button>



</div>