<!-- 
<div class="top-nav-bar">

    <a class="navbar-brand" href="#">
    </a>



</div> -->

<nz-layout class="fullScreen">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"><strong> 🎁-🌳 </strong></div>
 
    <div *ngIf="usetType === 'admin'">
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="Home" nzIcon="gift">
          <ul>
            <li nz-menu-item><a routerLink="/lanch/dashboard"> Dashboard</a></li>
            <li nz-menu-item><a routerLink="/lanch/ngolist"> NGO list </a></li>
            <li nz-menu-item><a routerLink="/lanch/tree"> Tree </a></li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Plan" nzIcon="star">
          <ul>
            <li nz-menu-item><a routerLink="/lanch/events"> Events</a></li>
            <li nz-menu-item><a routerLink="/lanch/ecard"> E-cards</a></li>
            <li nz-menu-item><a routerLink="/lanch/locations"> Locations </a></li>

          </ul>
        </li>
 
        <li nz-submenu nzTitle="Plan" nzIcon="shopping-cart">
          <ul>
            <li nz-menu-item><a routerLink="/lanch/orders"> Orders</a></li>
            <li nz-menu-item><a routerLink="/lanch/queries"> Queries</a></li>
          </ul>
        </li>
        
      </ul>
  </div>

  <div *ngIf="usetType === 'vendor'">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Menu" nzIcon="appstore">
        <ul>
          <li nz-menu-item><a routerLink="/lanch/vendor-projects"> Projects</a></li>
          <li nz-menu-item><a routerLink="/lanch/vendor-orders"> Orders </a></li>
          <!-- <li nz-menu-item><a routerLink="/lanch/vendor-reports"> Reports </a></li> -->
        </ul>
      </li>
      </ul>
  </div>


  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header-buttons">
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>

      <i class="trigger" > Welcome {{ username }} | {{ usetType }} </i>
      

      <i class="trigger" nz-icon nzType="logout" nzTheme="outline"  (click)="logout()" ></i>
    </div>
      
    </nz-header>
    <nz-content>
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Plant gifting made in india with ❤</nz-footer>
  </nz-layout>
</nz-layout>
